.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.titulo{
    text-align: center;
    font-size: 30px;
    color:blue;
    margin-bottom: 60px;

}

.imagen-about{
    width: 48%;

}

.sobre-nosotros .contenido-texto{
    width: 48%;
    text-align: justify;
}

.contenido-texto h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow:  0 0 6px 0 rgba( 0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-texto p{
    padding: 0px 0px 30px 15px;
}


/*  */
.contenedor_acerca{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.sobre-texto{
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}
